.card {
  display: flex;
  flex-direction: column;

  max-width: 230px;

  &_image {
    width: 230px;
    margin-bottom: 40px;

    cursor: pointer;
  }

  &_title {
    color: #000;
    text-align: center;
    font-family: Mont SemiBold, Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;

    cursor: pointer;
  }
}