.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 230px;
  align-items: center;

  &_image {
    width: 180px;
    height: 180px;
    cursor: pointer;
    border-radius: 100px;
    border: 5px solid #751C71;
  }

  &_title {
    color: #000;
    text-align: center;
    font-family: Mont SemiBold, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;

    cursor: pointer;
  }
}