.block {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top: 2px solid #D7C6FF;
  height: 190px;

  &_position {
    display: flex;
    justify-content: space-between;

  }

  &_title {
    color: #18132C;
    font-family: Mont, sans-serif;
    font-size: 55px;
    font-weight: 800;
  }

  &_place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    &_title {
      width: 500px;
      color: #000;
      font-family: Mont SemiBold, sans-serif;
      font-size: 45px;
      font-weight: 700;

      white-space: nowrap; /* Текст не переносится */
      overflow: hidden; /* Обрезаем всё за пределами блока */
      text-overflow: ellipsis; /* Добавляем многоточие */
    }

    &_text {
      max-width: 400px;

      color: #3B285C;
      font-family: Mont SemiBold, sans-serif;
      font-size: 20px;
      font-weight: 600;

      overflow: hidden; /* Обрезаем всё за пределами блока */
      text-overflow: ellipsis; /* Добавляем многоточие */
    }
  }

  &_date {
    display: flex;
    height: 100px;

    &_count {
      color: #18132C;
      font-family: Mont SemiBold, sans-serif;
      font-size: 110px;
      font-weight: 700;
      margin-right: 20px;
      line-height: 1;
    }

    &_block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 5px;

      &_day {
        color: #3B285C;
        font-family: Mont SemiBold, sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 1;
      }

      &_month {
        color: #000;
        font-family: Mont SemiBold, sans-serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 1;
      }
    }
  }

  &_time {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #151231;
    text-align: center;
    font-family: Mont SemiBold, sans-serif;
    font-size: 65px;
    font-weight: 700;
  }

  &_buttonPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 250px;
      height: 70px;

      border-radius: 20px;
      border: 3px solid #3B285C;
      background: #3B285C;

      cursor: pointer;
      text-decoration: none;

      p {
        color: #FFF;
        font-family: Mont SemiBold, sans-serif;
        font-size: 32px;
        font-weight: 700;
      }
    }
  }
}