.block {
  display: flex;
  flex-direction: column;
  gap: 100px;

  &_grid {
    display: flex;
    flex-direction: column;
    gap: 100px;

    margin-left: 130px;
    margin-right: 130px;

    &_leftRightBlock {
      display: flex;
      justify-content: space-between;

    }
  }
}