.block {
  display: flex;
  flex-direction: column;
  gap: 70px;

  &_title {
    color: #18132C;
    font-family: Mont, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  &_card {
    display: flex;
    justify-content: space-between;

    margin-bottom: 150px;
  }
}