.block {
  display: flex;
  flex-direction: column;
  margin-left: 130px;

  width: 450px;
  height: auto;

  &_title {
    display: flex;
    width: max-content;
    margin-bottom: 50px;

    &_text {
      color: #18132C;
      font-family: Mont, sans-serif;
      font-size: 55px;
      font-weight: 800;
    }

    &_count {
      width: 131px;
      height: 70px;

      margin-left: 25px;
      border-radius: 20px;
      border: 3px solid #3B285C;
      background: #3B285C;

      &_value {
        color: #FFFFFF;
        text-align: center;
        font-family: Mont, sans-serif;
        font-size: 37px;
        font-weight: 700;
        padding-top: 6px;

      }
    }
  }
}