.block {
  width: 1270px;
  margin-bottom: 150px;

  &_title {
    color: #000;
    font-family: Mont, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 35px;
  }

  &_events {
    display: flex;
    justify-content: space-between;

    margin-bottom: 90px;
  }

  &_button {
    width: 560px;
    height: 70px;

    border-radius: 20px;
    border: 3px solid #3B285C;
    background: #3B285C;
    padding-left: 25px;

    cursor: pointer;

    &_text {
      text-align: left;
      color: #FFF;
      font-family: Mont SemiBold, sans-serif;
      font-size: 30px;
      font-weight: 700;
    }
  }
}