.block {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin-bottom: 40px;

  &_checkbox {
    display: flex;

    &_input {
      appearance: none;
      width: 45px;
      height: 45px;
      margin-right: 25px;

      border-radius: 10px;
      border: 3px solid #3B285C;
    }

    &_label {
      color: #000;
      font-family: Mont SemiBold, sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}