.block {
  display: flex;
  flex-direction: column;
  gap: 80px;

  &_data {
    display: flex;
    width: 100%;
    height: 250px;
    background: #C7B3F047;
    border-radius: 40px;

    padding-top: 40px;

    &_price {
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: 160px;
      border-right: 2px solid #fff;

      padding-left: 90px;
      padding-right: 120px;
    }

    &_title {
      color: #151231;
      text-align: center;
      font-family: Mont, sans-serif;
      font-size: 55px;
      font-weight: 800;
    }

    &_text {
      color: #000;
      text-align: center;
      font-family: Mont SemiBold, sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &_date {
      display: flex;
      padding-left: 110px;
      padding-right: 120px;
      gap: 150px;

      width: fit-content;
      height: 160px;
      border-right: 2px solid #fff;

      &_block {
        display: flex;
        flex-direction: column;
      }
    }

    &_time {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &_description {
    max-width: 1350px;
    width: fit-content;

    &_text {
      color: #000;
      font-family: Mont SemiBold, sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.1;

      margin-bottom: 30px;
    }

    &_more {
      color: #3B285C;
      font-family: Mont SemiBold, sans-serif;
      font-size: 29px;
      font-weight: 700;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &_photos {
    max-width: 1630px;
    display: flex;
    gap: 80px;

    &_image {
      height: 300px;
      border-radius: 20px;
    }
  }
}